/* customStyles.css */
.frame-style {
    width: 400px;
    height: 713px;
    border-radius: 20px;
    border: 1px solid #AFAFAF;
    box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(26.5px);
  }
  .input-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-form label {
    margin-bottom: 5px;
    color: #fff; /* Set label text color to white */
    opacity: 0.8;
    margin-top: 12px;

  }
  
  .input-form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 0.75rem;
border: 1px solid #FFF;
    background-color: transparent;
    color: #fff; /* Set input text color to white */
  }/* Style the placeholder text color */
.input-form input::placeholder {
  color: #fff;
  opacity: 0.5; /* Adjust opacity for placeholder text */
}
.gradient-button {
  display: flex;
  margin-top: 20px;
  padding: 0.875rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.75rem;
  background: linear-gradient(91deg, #2E4CEE 9.91%, #221EBF 53.29%, #040F75 91.56%);
  color: white; /* Set text color to white */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 1rem; /* Optional: Adjust font size */
}
.form-title {
  font-size: 2rem; /* Adjust the size as needed */
  margin-bottom: 0.5rem;
  text-align: center;
  color: white;
}

.form-subtitle {
  font-size: 1rem; /* Adjust the size as needed */
  margin-bottom: 1.5rem;
  text-align: center;
  opacity: 0.8; /* Optional: adjust opacity for subtlety */
  color: white;

}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #4D4D4D;
}

.or-text {
  padding: 0 10px;
  color: #4D4D4D;
  font-size: 1rem;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between icons as needed */
  margin-top: 10px;
}

.social-icons img {
  width: 40px; /* Adjust size as needed */
  height: auto;
  cursor: pointer; /* Changes the cursor to pointer on hover */
}