@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");

body {
  color: white;
  font-family: "Nunito", sans-serif;
  background-color: rgb(40, 40, 40);
}
